<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576943346562-po0vm5jjrr7ljskfi35c68e3l2fttk7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576943346562-po0vm5jjrr7ljskfi35c68e3l2fttk7h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>576943346562-2b8l4sq4gkkpqiombqgoc34s4hs3ogno.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBo-rxv03ishq_RNBNgdkJfwm54cjZ5H0E</string>
	<key>GCM_SENDER_ID</key>
	<string>576943346562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sarankar.patel.parking</string>
	<key>PROJECT_ID</key>
	<string>parking-2a79d</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-2a79d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576943346562:ios:fd4e4a97e74234546b759b</string>
</dict>
</plist>